{% load staticfiles %}
<!doctype html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<script src='http://code.angularjs.org/snapshot/angular.min.js'></script>
		<script src='http://code.angularjs.org/snapshot/angular-sanitize.js'></script>
		{% load static %}
		<script src='{% static "crawler.js"%}'></script>
	</head>
{% verbatim %}
	<body ng-app='crawler'>
		<div ng-controller="DocListController as docList">
			<input
				type='text'
				ng-model='docList.searchTerm'
				placeholder='search term'
				ng-keyup='$event.keyCode===13?docList.search():0'>
			<p id='content'>		
			</p>
		</div>
	</body>
{% endverbatim %}
</html>
